include ../../components/logo/logo
include ../../helpers/mixins

footer.footer
  +logo('#', 'logo logo--green')
  nav.footer__nav
    a.footer__link(href='#' title='About') About
    a.footer__link(href='#' title='Services') Services
    a.footer__link(href='#' title='Projects') Projects
  nav.footer__social
    a(href='#' title='Facebook')
      +icon('icon-facebook', 'facebook')
    a(href='#' title='Instagram')
      +icon('icon-instagram', 'instagram')
    a(href='#' title='Twitter')
      +icon('icon-twitter', 'twitter')
    a(href='#' title='Pinterest')
      +icon('icon-pinterest', 'pinterest')
