include ../../components/logo/logo
include ../../helpers/mixins

footer.footer(role='Info')
  +logo('#', 'logo logo--green')
  nav.footer__nav(role='navigation-links')
    a.footer__link(href='#' title='About' aria-labelledby='navigation-link') About
    a.footer__link(href='#' title='Services' aria-labelledby='navigation-link') Services
    a.footer__link(href='#' title='Projects' aria-labelledby='navigation-link') Projects
  nav.footer__social(role='social-link')
    a(href='#' title='Facebook')
      +icon('icon-facebook', 'facebook')
    a(href='#' title='Instagram')
      +icon('icon-instagram', 'instagram')
    a(href='#' title='Twitter')
      +icon('icon-twitter', 'twitter')
    a(href='#' title='Pinterest')
      +icon('icon-pinterest', 'pinterest')
