section.projects
  .projects__item
    .projects__content
      h2.projects__title Graphic Design
      p.projects__text Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.
    .projects__img
      picture
        source(srcset='./img/content/desktop/image-graphic-design.webp', type='image/webp', media='(min-width: 768px)')
        source(srcset='./img/content/mobile/image-graphic-design.webp', type='image/webp')
        img(src='./img/content/mobile/image-graphic-design.jpg', alt='project')
  .projects__item
    .projects__content
      h2.projects__title.projects__title--blue Photography
      p.projects__text.projects__text--blue Increase your credibility by getting the most stunning, high-quality photos that improve your business image.
    .projects__img
      picture
        source(srcset='./img/content/desktop/image-photography.webp', type='image/webp', media='(min-width: 768px)')
        source(srcset='./img/content/mobile/image-photography.webp', type='image/webp')
        img(src='./img/content/mobile/image-photography.jpg', alt='project')
