section.services
  h2.visually-hidden Services
  .services__item
    .services__img
      picture
        source(srcset='./img/content/desktop/image-transform.webp', type='image/webp', media='(min-width: 768px)')
        source(srcset='./img/content/mobile/image-transform.webp', type='image/webp')
        img(src='./img/content/mobile/image-transform.jpg', alt='service')
    .services__content
      h3.services__title Transform your brand
      p.services__text We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.
      a.services__learn-more(href='#') LEARN MORE
  .services__item
    .services__img
      picture
        source(srcset='./img/content/desktop/image-stand-out.webp', type='image/webp', media='(min-width: 768px)')
        source(srcset='./img/content/mobile/image-stand-out.webp', type='image/webp')
        img(src='./img/content/mobile/image-stand-out.jpg', alt='service')
    .services__content
      h3.services__title Stand out to the right audience
      p.services__text Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.
      a.services__learn-more.services__learn-more--red(href='#') LEARN MORE
