section.gallery(role='gallery')
  h2.visually-hidden(aria-label='gallery') Gallery
  a.gallery__item(href='#' title='Gallery')
    picture
      source(srcset='./img/content/desktop/image-gallery-milkbottles.webp', type='image/webp', media='(min-width: 768px)')
      source(srcset='./img/content/mobile/image-gallery-milkbottles.webp', type='image/webp')
      img(src='./img/content/mobile/image-gallery-milkbottles.jpg', alt='gallery')
  a.gallery__item(href='#' title='Gallery')
    picture
      source(srcset='./img/content/desktop/image-gallery-orange.webp', type='image/webp', media='(min-width: 768px)')
      source(srcset='./img/content/mobile/image-gallery-orange.webp', type='image/webp')
      img(src='./img/content/mobile/image-gallery-orange.jpg', alt='gallery')
  a.gallery__item(href='#' title='Gallery')
    picture
      source(srcset='./img/content/desktop/image-gallery-cone.webp', type='image/webp', media='(min-width: 768px)')
      source(srcset='./img/content/mobile/image-gallery-cone.webp', type='image/webp')
      img(src='./img/content/mobile/image-gallery-cone.jpg', alt='gallery')
  a.gallery__item(href='#' title='Gallery')
    picture
      source(srcset='./img/content/desktop/image-gallery-sugarcubes.webp', type='image/webp', media='(min-width: 768px)')
      source(srcset='./img/content/mobile/image-gallery-sugar-cubes.webp', type='image/webp')
      img(src='./img/content/mobile/image-gallery-sugar-cubes.jpg', alt='gallery')
