.gallery {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  @include respond-to(md) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    overflow: hidden;
    img {
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
