section.reviews
  h3.reviews__title CLIENT TESTIMONIALS
  .reviews__content
    .reviews__item
      .reviews__photo
        picture
          source(srcset='./img/content/image-emily.webp', type='image/webp')
          img(src='./img/content/image-emily.jpg', alt='emily')
      p.reviews__text We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.
      span.reviews__name Emily R.
      span.reviews__position Marketing Director
    .reviews__item
      .reviews__photo
        picture
          source(srcset='./img/content/image-thomas.webp', type='image/webp')
          img(src='./img/content/image-thomas.jpg', alt='thomas')
      p.reviews__text Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.
      span.reviews__name Thomas S.
      span.reviews__position Chief Operating Officer
    .reviews__item
      .reviews__photo
        picture
          source(srcset='./img/content/image-jennie.webp', type='image/webp')
          img(src='./img/content/image-jennie.jpg', alt='jennie')
      p.reviews__text Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!
      span.reviews__name Jennie F.
      span.reviews__position Business Owner
